{% extends 'base.html' %}
{% block content %}
  <main class="recipe-detail">
    <div>
      {% comment %} <a href="{% url 'mealplans_edit' mealplan.id %}">Edit</a> {% endcomment %}
      {% comment %} <a href="{% url 'mealplans_delete' mealplans.id %}">Delete</a> {% endcomment %}
    </div>
      <h1>{{ mealplan.name }}</h1>
      <p>Date to create {{ mealplan.date }}</p>
      <P>Created By {{ mealplan.owner }}</p>
      <a href="{% url 'mealplan_edit' mealplan.id %}">Edit</a>
      <a href="{% url 'mealplan_delete' mealplan.id %}">Delete</a>


  </main>
  {% endblock content %}